<br>
<br>
<br>
<br>
<p>
    <%= link_to 'Recipes Main', recipes_path %> | <%= link_to 'Ingredients Main', ingredients_path %>
</p>
<p>
    <%= link_to 'Create a New Recipe', new_recipe_path %> | <%= link_to 'Add a New Ingredient', new_ingredient_path %>
</p>